table{
    border: 2px solid blueviolet;
    background-color: azure;
}

input[type=text], input[type = password]{
    width: 100%;
    padding: 8px 20px;
    border: 2px solid #ccc;
    box-sizing: border-box;
}

img{
    width: 100px;
    height: 100px;
}

label{
    font-size: 100px;
    font-weight: bold;
    font-family: arial;
}

input[type=submit]{
    background-color: greenyellow;
    color: black;
    padding: 8px 0px;
    border: solid;
    cursor: pointer;
    width: 40%;
}